 .icon-delete {
    color: #e40000;
  }

  .custom-trash-button {
    height: 25px; /* Define a altura do botão do lixo */
    width: 25px; /* Define a largura do botão do lixo */

  }

  .custom-button2 {
    width: 80px;
    height: 50px;
}

.back-delete {
  --background: #e40000;
}